.App {
  text-align: center;
}

.spotify-btn{
  background-color: #ffffff;
  border-radius: 12px;
  border: 2px solid black;
  color:black;
}

.spotify-login{
  font-size: 15px;
  text-shadow: white;
}

.spotify-login:hover{
  text-decoration: underline;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #717d91;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(8px + 2vmin);
  color: rgb(4, 2, 2);
}



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
